{% include base_path %}

<!-- start custom head snippets -->

<link rel="shortcut icon" href="{{ base_path }}/favicon.ico?v=20260713-ut"/>
<link rel="icon" href="{{ base_path }}/favicon.ico?v=20260713-ut" sizes="any"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/om_favicon.svg?v=20260713-ut"/>
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/images/om_favicon_16.png?v=20260713-ut"/>
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/om_favicon_32.png?v=20260713-ut"/>
<link rel="icon" type="image/png" sizes="48x48" href="{{ base_path }}/images/om_favicon_48.png?v=20260713-ut"/>
<link rel="apple-touch-icon" sizes="256x256" href="{{ base_path }}/images/om_favicon_256.png?v=20260713-ut"/>
<link rel="manifest" href="{{ base_path }}/images/site.webmanifest?v=20260713-ut"/>
<meta name="theme-color" content="#bf5700"/>
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- end custom head snippets -->
