{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">{{ title }}</h2>

    <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>

    {% if post.bullets %}
      <ul class="archive__item-excerpt" itemprop="description">
        {% for bullet in post.bullets %}
          <li>{{ bullet | markdownify | remove: '<p>' | remove: '</p>' }}</li>
        {% endfor %}
      </ul>
    {% elsif post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    {% endif %}
  </article>
</div>
